    <h1>Posts</h1>
    <p><a href="/admin/posts/new">➕ New Post</a></p>
    <ul>
        <% posts.forEach(p=> { %>
            <li>
                <a href="/posts/<%= p.slug %>">
                    <%= p.title %>
                </a>
                — <a href="/admin/posts/<%= p.id %>/edit">Edit</a>
                <form action="/admin/posts/<%= p.id %>?_method=DELETE" method="POST" style="display:inline">
                    <button>Delete</button>
                </form>
            </li>
            <% }) %>
    </ul>