<article class="post">
    <h1>
        <%= post.title %>
    </h1>
    <p><em>
            <%= new Date(post.published_at).toLocaleString() %>
        </em></p>
    <% if (post.excerpt) { %>
        <p><strong>
                <%= post.excerpt %>
            </strong></p>
        <% } %>
            <div class="post-body"><%- post.body %></div>
</article>